body{
    margin: 0;
    padding: 0;
}

.container{
     align-items: center;
    justify-content: center;
    text-align: center;    
}

.container ol {
    list-style-position: inside;
    display: grid; 
    place-items: center; 
}


button{
    background-color: white;
    border: solid black 2px;
    border-radius: 5px;
    
}

