body{
    margin: 0;
    padding: 0;
}

.container{
     align-items: center;
    justify-content: center;
    text-align: center;    
}

.container ol {
    display: grid; 
    place-items: center; 
}



