body {
  margin: 0;
  padding: 0;
}
* {
  font-family: "Avenir";
}
h1 {
  text-align: center;
}

.container {
  margin: 100px auto 100px auto;
  width: 50%;
  border: 3px solid black;
  border-radius: 10px;
  padding: 10px;
}

@media (max-width: 900px) {
  .container {
    width: 75%;
  }
}
